<figure itemscope itemtype="http://schema.org/ImageObject">
    <a href="">
        <img src=""
             width=""
             height=""
             itemprop="contentUrl"
             alt=""
        />
    </a>
    <figcaption itemprop="caption">
        <a href="{{ embed.url }}">(via Flickr)</a>
    </figcaption>
</figure>
