/*.kate-swp
/public/
/.idea/
*.pdf
*.html
!index.html
!404.html
node_modules/
/cache/
/output/*
!/output/_redirects
!/output/favicon.ico
!/output/favicon-16x16.png
!/output/favicon-32x32.png
/config.local.yaml
.netlify
/vendor

