<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404 Not Found :: Sam Wilson</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <h1>404 Not Found</h1>
            <p>The thing you´re looking for can't be found. Sorry.</p>
            <p><a href="https://samwilson.id.au/" class="btn btn-default">Go to Sam's homepage</a></p>
        </div>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105794913-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-105794913-1');
        </script>
    </body>
</html>
